<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCY0lKcM0tpvsMaquxmVH8YPY_0lnoMtX8</string>
	<key>GCM_SENDER_ID</key>
	<string>471430522660</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>johnsy.app.amazonClone</string>
	<key>PROJECT_ID</key>
	<string>fir-72578</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-72578.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471430522660:ios:400802d312ed86587a35b1</string>
</dict>
</plist>